<div class="row"style="margin-top: 12%;">
    <div class="bm-col col-md-4"><div class="wrapper" style="padding: 10px; text-align: center;"><hr data-module="breaker" class="bm-breaker-module-medium" data-structure="{}" data-id="5f265c513a1b7"></div></div>
    <div class="bm-col col-md-4"><div class="wrapper" style="padding: 5px;"><h1 data-module="title" data-di="titleBold" style="font-size: 36px; text-align: center; position: relative;" id="TIE_1" class="" spellcheck="false" data-structure="{&quot;value&quot;:&quot;<strong>Generar Reportes<\/strong>&quot;,&quot;type&quot;:&quot;h1&quot;}" data-id="5f265c513a1c8"><strong>Catálogo</strong></h1></div></div>
    <div class="bm-col col-md-4"><div class="wrapper" style="padding: 10px; text-align: center;"><hr data-module="breaker" class="bm-breaker-module-medium" data-structure="{}" data-id="5f265c513a1d3"></div></div>
</div> 

<div class="container" id="myGroup" style="margin-top: 9%;">

    <h3>Catálogo</h3>
    <p>
        <a class="btn btn-primary mr-1" data-toggle="collapse" href="#inventProdu" role="button" aria-expanded="false" aria-controls="inventProdu" style="background-color: #091540;border-color: #091540;">
    Ver productos
  </a>
        <button type="button" class="btn btn-dark terceColor mr-1" data-toggle="modal" data-target="#staticBackdrop">
    Pedir Mueble
  </button>
  <button type="button" class="btn btn-dark terceColor" data-toggle="collapse" href="#finalCountdown" aria-controls="finalCountdown">
    Revisión Final del Pedido
</button>
</p>
<div class="collapse" id="finalCountdown" data-parent="#myGroup">
    <div class="row" >
        <div class="col-12">
            <div style="margin-top: 2%;">
                <div class="card w-75">
                    <div class="card-body">
                        <h5 class="card-title">A continuación se le presentarán las opciones con las cuales puede realizar su pago y información sobre su deuda actual.</h5>
                        <p class="card-text"> La deuda actual que posee con la Mueblería KSAS es de $ {{obtenerDatos()}}, se le recuerda que puede tanto organizar un pago en persona, realizar un pago online o regresar posteriormente para hacer alguna de las 2 opciones.</p>
                        <div class="row">
                            <div class="card col-3 p-1" *ngFor="let producto of listaDePedido; let i = index">
                                <div class="card">
                                    <div class="d-flex justify-content-center">
                                        <img src={{producto.imagen}} class="card-img-top centered" style="width:120px;height:120px;border-radius: 60px;">
                                    </div>
                                    <div class="card-header">
                                        Producto: {{producto.title}} | ID: {{producto.id}}
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <div class="col-12">
                                                Material: {{producto.material}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                Material: ${{producto.price}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-dark terceColor" data-toggle="modal" data-target="#pagoOnline">Realizar Pago Online</a>
                        <a href="#" class="btn btn-dark terceColor" data-toggle="modal" data-target="#organizarPago" style="margin-left: 2%;">Organizar Pago En Persona</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    <div class="collapse" id="inventProdu" data-parent="#myGroup">
        <div class="row">
            <div class="card col-3 p-1" *ngFor="let producto of productos; let i = index">
                <div class="card">
                    <img src={{producto.imagen}} class="card-img-top" style="width:270px;height:270px;border-radius: 60px;">
                    <div class="card-header">
                        Producto: {{producto.title}} | ID: {{producto.id}}
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-12">
                                Material: {{producto.material}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                Material: ${{producto.price}}
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" (click)="agregarProductoAListaPedido(producto)">Comprar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <!-- Button trigger modal -->

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Pedir Mueble</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationDefault01">Nombre del mueble</label>
                                        <input type="text" class="form-control" id="validationDefault01" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="validationDefault02">Tipo</label>
                                        <input type="text" class="form-control" id="validationDefault02" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationDefault03">Material</label>
                                        <input type="text" class="form-control" id="validationDefault03" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="validationDefault04">Medidas</label>
                                        <input type="text" class="form-control" id="validationDefault04" required>
                                    </div>



                                </div>
                                <div class="form-group custom-file">
                                    <label for="validationDefault05">Imagen</label>
                                    <input (change)="onSelectFile($event) ; imageApears=!imageApears;" type="file" class="custom-file-input" id="customFileLang" lang="es">
                                    <label class="custom-file-label" for="customFileLang">Seleccionar imagen de referencia</label>
                                </div>
                                <div class="row" *ngIf="imageApears">
                                    <div class="col-12 d-flex justify-content-center">
                                        <img [src]="url" class="img-fluid" alt="Responsive image">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger " data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal" data-target="#staticBackdrop10">
                                Enviar Pedido
                              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <span layout="row"><hr flex/></span>

    <h3>Pagos</h3>
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#pagoOnline" role="button" aria-expanded="false" aria-controls="pagoOnline" style="background-color: #091540;border-color: #091540;">
    Pago En Línea
  </a>
    </p>
    <div class="collapse" id="pagoOnline2" data-parent="#myGroup">
        <div class="card" style="width: 600px;">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="nombreDueno">Nombre de dueño</label>
                        <input type="text" class="form-control" id="nombreDueno">
                    </div>
                    <div class="form-group">
                        <label for="numeroTarjeta">Número de tarjeta</label>
                        <input type="text" class="form-control" id="numeroTarjeta" placeholder="XXXX-XXXX-XXXX-XXXX">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputCV" placeholder="CV">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="number" class="form-control" id="Mes" placeholder="MM">
                        </div>
                        <div class="form-group col-md-2">
                            <input type="number" class="form-control" id="Anio" placeholder="AA">
                        </div>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioPagoEnLinea" id="pagoCompletoRadio" value="option1" checked>
                        <label class="form-check-label" for="pagoCompletoRadio">
                      Pago completo
                    </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioPagoEnLinea" id="pagoCuotasRadio" value="option2">
                        <label class="form-check-label" for="pagoCuotasRadio">
                      Pago cuotas
                    </label>
                        <select id="inputState" class="form-control">
                        <option selected>Plazo de cuotas</option>
                        <option>3 meses</option>
                        <option>6 meses</option>
                      </select>
                    </div>

                    <span layout="row"><hr flex/></span>

                    <button type="submit" class="btn btn-primary">Pagar</button>

                </form>
            </div>
        </div>
        <span layout="row"><hr flex/></span>
    </div>

    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#pagoPersona" role="button" aria-expanded="false" aria-controls="pagoPersona" style="background-color: #091540;border-color: #091540;">
      Organizar pago en persona
    </a>
    </p>
    <div class="collapse" id="pagoPersona" data-parent="#myGroup">
        <div class="card" style="width: 600px;">
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">

                        </div>
                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <label for="inputSucursal">Seleccionar sucursal</label>
                            <select id="inputSucursal" class="form-control">
                      <option selected>Sucursal</option>
                      <option>...</option>
                    </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputEmpleado">Seleccionar empleado</label>
                            <select id="inputEmpleado" class="form-control">
                      <option selected>Empleado</option>
                      <option>...</option>
                    </select>
                        </div>

                        <div class="form-group col-md-8">
                            <input type="date" class="form-control" id="inputFecha" placeholder="Ingrese una fecha">
                        </div>

                    </div>

                    <button type="button" class="btn btn-primary">Pagar</button>
                </form>
            </div>
        </div>
    </div>


    <span layout="row"><hr flex/></span>

    <h3>Observar pedido</h3>
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#pedidoDelivery" role="button" aria-expanded="false" aria-controls="pagoOnline" style="background-color: #091540;border-color: #091540;">
    Trayecto del pedido
  </a>
    </p>
    <div class="collapse" id="pedidoDelivery" data-parent="#myGroup">
        <div class="card" style="width: 600px;">
            <div class="card-body">
                <img src="https://miro.medium.com/max/560/1*USGU8T3AHZuaZCxxaNgNYg.png" class="card-img-top">
                <label style="margin-top: 2%;" class="form-check-label" for="pedidoDelivery2">
                    Falta aproximadamente 1 día para la llegada.
                </label>
                <span layout="row"><hr flex/></span>
                <button type="submit" data-toggle="collapse" href="#pedidoDelivery" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
        <span layout="row"><hr flex/></span>
    </div>

    <h3>Evaluación</h3>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-dark terceColor" data-toggle="modal" (click)="feedback=!feedback">
                Feedback Entrega del Pedido
            </button>
            <div *ngIf="feedback" style="margin-top: 2%;">
                <div class="card w-75">
                    <div class="card-body">
                        <h5 class="card-title">Se encuentra conforme con su pedido?</h5>
                        <p class="card-text">Entonces, seleccione la siguiente opción para llenar una encuesta sobre el servicio.</p>
                        <a href="#" class="btn btn-dark terceColor" data-toggle="modal" data-target="#encuestaPedido">Aceptar</a>
                    </div>
                </div>

                <div class="card w-75" style="margin-top: 1%;">
                    <div class="card-body">
                        <h5 class="card-title">Se encuentra disconforme con su pedido?</h5>
                        <p class="card-text">Entonces, seleccione la siguiente opción para indicarnos recomendaciones y poder mejorar el servicio para la próxima compra!</p>
                        <a href="#" class="btn btn-dark terceColor" data-toggle="modal" data-target="#buzonQuejas">Aceptar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    

<div class="row">
    <!-- Modal Encuesta Servicio-->
    <div class="modal fade" id="encuestaPedido" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Encuesta sobre el Pedido</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">En que estado fue entregado el pedido hasta su hogar?</label>
                            <input type="email" class="form-control" id="FormControlInput1">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Cómo describiría la actitud de los repartidores?</label>
                            <input type="email" class="form-control" id="FormControlInput2">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">El mueble cumplió con sus expectativas?</label>
                            <input type="email" class="form-control" id="FormControlInput3">
                        </div>
                        <div class="form-group">
                            <label for="FormControlTextarea1">Indiquenos que recomendaciones daría para una posterior entrega! Gracias por su compra!!</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Enviar Encuesta</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar Al Menú Principal</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Pago Online-->
    <div class="modal fade" id="pagoOnline" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Realizar Pago Online</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="nombreDueno">Nombre de dueño</label>
                            <input type="text" class="form-control" id="nombreDueno2">
                        </div>
                        <div class="form-group">
                            <label for="numeroTarjeta">Número de tarjeta</label>
                            <input type="text" class="form-control" id="numeroTarjeta2" placeholder="XXXX-XXXX-XXXX-XXXX">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="inputCV2" placeholder="CV">
                            </div>
                            <div class="form-group col-md-2">
                                <input type="number" class="form-control" id="Mes2" placeholder="MM">
                            </div>
                            <div class="form-group col-md-2">
                                <input type="number" class="form-control" id="Anio2" placeholder="AA">
                            </div>
                        </div>
    
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radioPagoEnLinea" id="pagoCompletoRadio2" value="option1" checked>
                            <label class="form-check-label" for="pagoCompletoRadio">
                          Pago completo
                        </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radioPagoEnLinea" id="pagoCuotasRadio2" value="option2">
                            <label class="form-check-label" for="pagoCuotasRadio">
                          Pago cuotas
                        </label>
                            <select id="inputState2" class="form-control">
                            <option selected>Plazo de cuotas</option>
                            <option>3 meses</option>
                            <option>6 meses</option>
                          </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Realizar Pago</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar Al Menú Principal</button>
                </div>
            </div>
        </div>
    </div>
     <!-- Modal Pago En Persona-->
     <div class="modal fade" id="organizarPago" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Organizar Pago en Persona</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputSucursal">Seleccionar sucursal</label>
                                <select id="inputSucursa2" class="form-control">
                                    <option selected>Sucursal</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group" style="margin-left: 2%;">
                                <label for="inputEmpleado">Seleccionar empleado</label>
                                <select id="inputEmpleado2" class="form-control">
                                    <option selected>Empleado</option>
                                    <option>...</option>
                                </select>
                            </div>
    
                            <div class="form-group col-md-8">
                                <input type="date" class="form-control" id="inputFecha2" placeholder="Ingrese una fecha">
                            </div>
    
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Definir Pago</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar Al Menú Principal</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Encuesta Servicio-->
    <div class="modal fade" id="encuestaPedido" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Encuesta sobre el Pedido</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">En que estado fue entregado el pedido hasta su hogar?</label>
                            <input type="email" class="form-control" id="FormControlInput1">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Cómo describiría la actitud de los repartidores?</label>
                            <input type="email" class="form-control" id="FormControlInput2">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">El mueble cumplió con sus expectativas?</label>
                            <input type="email" class="form-control" id="FormControlInput3">
                        </div>
                        <div class="form-group">
                            <label for="FormControlTextarea1">Indiquenos que recomendaciones daría para una posterior entrega! Gracias por su compra!!</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Enviar Encuesta</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar Al Menú Principal</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Buzon Quejas-->
    <div class="modal fade" id="buzonQuejas" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Queja sobre el Pedido</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="FormControlTextarea1">Por favor ingrese los problemas que haya tenido en su servicio, nos encargaremos de mejorar con base en su situación!</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Enviar Queja</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar Al Menú Principal</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop10" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Pedir delivery</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-row">
                    <div class="col">
                        <label for="inputName">Nombre</label>
                        <input type="text" id="inputName" class="form-control" placeholder="Nombre apellidos">
                      </div>
                      <div class="col">
                        <label for="inputCel">Teléfono</label>
                        <input type="text" id="inputCel" class="form-control" placeholder="88888888">
                      </div>

                </div>
                <div class="form-group">
                  <label for="inputAddress">Dirección de entrega</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="Dirección">
                </div>
                <div class="mb-3">
                    <label for="validationTextarea">Detalles a tomar en cuenta</label>
                    <textarea class="form-control" id="validationTextarea" placeholder="Escriba consideraciones que se deban tomar en cuenta" required></textarea>
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Pedir</button>
        </div>
      </div>
    </div>
</div>