<div class="row"style="margin-top: 12%;">
    <div class="bm-col col-md-4"><div class="wrapper" style="padding: 10px; text-align: center;"><hr data-module="breaker" class="bm-breaker-module-medium" data-structure="{}" data-id="5f265c513a1b7"></div></div>
    <div class="bm-col col-md-4"><div class="wrapper" style="padding: 5px;"><h1 data-module="title" data-di="titleBold" style="font-size: 36px; text-align: center; position: relative;" id="TIE_1" class="" spellcheck="false" data-structure="{&quot;value&quot;:&quot;<strong>Generar Reportes<\/strong>&quot;,&quot;type&quot;:&quot;h1&quot;}" data-id="5f265c513a1c8"><strong>{{titulo}}</strong></h1></div></div>
    <div class="bm-col col-md-4"><div class="wrapper" style="padding: 10px; text-align: center;"><hr data-module="breaker" class="bm-breaker-module-medium" data-structure="{}" data-id="5f265c513a1d3"></div></div>
    </div>  
<div class="row" style="margin-top: 4%; margin-bottom: 15%;" *ngIf = "reporteC == 0">  
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card h-100">
            <img src="https://www.itmplatform.com/lib/uploads/36978940_m-300x230.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Reporte Ventas</h5>
              <p class="card-text">Reporte completo de todas la ventas.</p>
              <button style="margin-right: 2%; margin-top: 2%;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop4">
                Observar
              </button>
              <button style="margin-right: 2%; margin-top: 2%;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                Generar
              </button>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="https://www.itmplatform.com/lib/uploads/36978940_m-300x230.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Reporte Ganancias por Sucursal</h5>
              <p class="card-text">Reporte de ganancias que tome en cuenta lo obtenido en los últimos 3 meses en la sucursal.</p>
              <button style="margin-right: 2%; margin-top: 2%;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop5">
                Observar
              </button>
              <button style="margin-right: 2%; margin-top: 2%;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop1">
                Generar
              </button>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="https://www.itmplatform.com/lib/uploads/36978940_m-300x230.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Reporte Ganancias por Fecha</h5>
              <p class="card-text">Reporte de ganancias que evalúa todo lo que se genera entre 2 rangos de fechas, toma en cuenta la totalidad de las sucursales.</p>
              <button style="margin-right: 2%; margin-top: 2%;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop7" (click)="fechaVer();">
                Observar
              </button>
              <button style="margin-right: 2%; margin-top: 2%;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop3">
                Generar
              </button>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="https://www.itmplatform.com/lib/uploads/36978940_m-300x230.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Reporte Ganancias por Producto</h5>
              <p class="card-text">Reporte de ventas de acuerdo a un cierto producto a lo largo de las sucursales.</p>
              <button style="margin-right: 2%; margin-top: 2%;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop6">
                Observar
              </button>
              <button style="margin-right: 2%; margin-top: 2%;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop2">
                Generar
              </button>
            </div>
          </div>
        </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="https://www.itmplatform.com/lib/uploads/36978940_m-300x230.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Reporte Ganancias Generales</h5>
            <p class="card-text">Reporte de ganancias generales tomando en cuenta todas las sucursales.</p>
            <button style="margin-right: 2%; margin-top: 2%;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop9">
              Observar
            </button>
            <button style="margin-right: 2%; margin-top: 2%;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop8">
              Generar
            </button>
        </div>
        </div>
      </div>
    </div>
</div>
    <div class="row" style="margin-top: 4%; margin-bottom: 15%;" *ngIf = "reporteC == 1">
      <table class="table" *ngIf = "reporte == 0">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha</th>
            <th scope="col">Sucursal</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Producto</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let venta of listaVentas; let i = index">
            <th scope="row">{{venta.ID}}</th>
            <td>{{venta.Fecha}}</td>
            <td>{{venta.Sucursal}}</td>
            <td>{{venta.Cantidad}}</td>
            <td>{{venta.Producto}}</td>
            <td>${{venta.Total}}</td>
          </tr>
        </tbody>
      </table>

      <table class="table" *ngIf = "reporte == 1">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Sucursal</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let venta of listaProductos; let i = index">
            <th scope="row">{{venta.ID}}</th>
            <td>{{venta.Sucursal}}</td>
            <td>{{venta.Producto}}</td>
            <td>{{venta.Cantidad}}</td>
            <td>${{venta.Total}}</td>
          </tr>
        </tbody>
      </table>

      <table class="table" *ngIf = "reporte == 2">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha</th>
            <th scope="col">Sucursal</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Producto</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let venta of listaFecha; let i = index">
            <th scope="row">{{venta.ID}}</th>
            <td>{{venta.Fecha}}</td>
            <td>{{venta.Sucursal}}</td>
            <td>{{venta.Cantidad}}</td>
            <td>{{venta.Producto}}</td>
            <td>${{venta.Total}}</td>
          </tr>
        </tbody>
      </table>

      <table class="table" *ngIf = "reporte == 3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha</th>
            <th scope="col">Sucursal</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Producto</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let venta of listaSucursales; let i = index">
            <th scope="row">{{venta.ID}}</th>
            <td>{{venta.Fecha}}</td>
            <td>{{venta.Sucursal}}</td>
            <td>{{venta.Cantidad}}</td>
            <td>{{venta.Producto}}</td>
            <td>${{venta.Total}}</td>
          </tr>
        </tbody>
      </table>

      <table class="table" *ngIf = "reporte == 4">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let venta of listaGenerales; let i = index">
            <th scope="row">{{venta.Fecha}}</th>
            <td>${{venta.Total}}</td>
          </tr>
        </tbody>
      </table>
      <button style="margin-right: 2%; margin-top: 2%;" type="button" class="btn btn-primary">Descargar</button>
      <button style="margin-right: 2%; margin-top: 2%;" type="button" class="btn btn-primary" (click)="backClicked();">Volver</button>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Reporte ventas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Generar el reporte de todas las ventas.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reset();">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="openVentas();">Generar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop1" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Reporte sucursal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Elija la sucursal para generar el reporte.
        <select (change)="selectChangeHandler($event)" class="form-control">
          <option *ngFor="let sucur of sucursales; let i = index">{{sucur}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reset();">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="openSucursal();">Generar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop2" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Reporte producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Generar el reporte de producto.
        <select class="custom-select" id="inputGroupSelect01" (change)="selectChangeHandler3($event)">
          <option *ngFor="let report of listProductos; let i = index">{{i}}. {{report}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reset();">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="openProducto();">Generar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop3" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Reporte por fecha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Elija el rango de fechas para generar el reporte.
        <form>
          <input (change)="onChangeFecha($event)" id="date" type="date" value={{fecha}}>
          <input (change)="onChangeFecha2($event)" id="date2" type="date" value={{fecha2}}>
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reset();">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="openFecha();">Generar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop4" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Reporte ventas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Elija el reporte que desea observar.
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Reporte</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" (change)="selectChangeHandler2($event)">
            <option *ngFor="let report of ReportesFecha; let i = index">Reporte ventas del {{report}}</option>
          </select>
        </div>
        <div class="card">
          <h5 class="card-header">Reporte de ventas</h5>
          <div class="card-body">
            <h5 class="card-title">Reporte del {{selectedReporte.substring(18)}}</h5>
            <p class="card-text">Reporte generado el {{selectedReporte.substring(18)}} con las ventas realizadas anterior a la fecha.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reset();">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="openVentas();">Ver</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop5" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Reporte sucursales</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Elija la sucursal para ver el reporte.
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Reporte</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" (change)="selectChangeHandler($event)">
            <option *ngFor="let sucursa of sucursales; let i = index">Reporte de la {{sucursa}}</option>
          </select>
        </div>
        <div class="card">
          <h5 class="card-header">Reporte sucursal</h5>
          <div class="card-body">
            <h5 class="card-title">Reporte de la {{selectedSucursal.substring(13)}}</h5>
            <p class="card-text">Reporte generado el {{selectedReporte.substring(18)}} de la {{selectedSucursal.substring(13)}}.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reset();">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="openSucursal();">Ver</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop6" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Reporte productos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Elija el reporte que desea observar.
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Reporte</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" (change)="selectChangeHandler3($event)">
            <option *ngFor="let report of listProductos; let i = index">{{i}}.Reportes hecho de {{report}}</option>
          </select>
        </div>
        <div class="card">
          <h5 class="card-header">Reporte de ventas</h5>
          <div class="card-body">
            <h5 class="card-title">Reporte de {{listProductos[selectProduct]}}</h5>
            <p class="card-text">Reporte generado del producto {{listProductos[selectProduct]}}.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reset();">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="openProducto();">Ver</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop7" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Reporte fechas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Elija el reporte que desea observar.
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Reporte</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" (change)="selectChangeHandler2($event)">
            <option *ngFor="let report of ReportesFechas; let i = index">{{i}}. Reportes de el {{report[0]}} hasta el {{report[1]}}</option>
          </select>
        </div>
        <div class="card">
          <h5 class="card-header">Reporte fechas</h5>
          <div class="card-body">
            <h5 class="card-title">Reporte del {{selectedReporte.substring(18)}}</h5>
            <p class="card-text">Reporte generado el {{selectedReporte.substring(18)}} de las ganancias.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reset();">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="openFecha();">Ver</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop8" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Reporte ganancias generales</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Generar el reporte de las ganancias generales.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reset();">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="openGeneral();">Generar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop9" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Reporte ganancias generales</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Elija el reporte que desea observar.
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Reporte</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" (change)="selectChangeHandler2($event)">
            <option *ngFor="let report of ReportesFecha; let i = index">{{i}}.Reporte hecho el {{report}}</option>
          </select>
        </div>
        <div class="card">
          <h5 class="card-header">Reporte de ganancias</h5>
          <div class="card-body">
            <h5 class="card-title">Reporte del {{selectedReporte.substring(18)}}</h5>
            <p class="card-text">Reporte generado el {{selectedReporte.substring(18)}} con las ganacias totales.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reset();">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="openGeneral();">Ver</button>
      </div>
    </div>
  </div>
</div>
