<div class="row" style="margin-top: 15%; margin-bottom: 15%;">
    <div class="col-8">
        <h1>Obtener Lista Países Trabajados </h1>
        <p class="text-justify mb-5">Nuestra mueblería cuenta con talleres diferentes países, sucursales de ventas en cada provincia/estado del país. La mueblería vende muebles solos así como juegos, por ejemplo el juego del comedor que puede ser de 4,6 u 8 sillas. Los muebles son
            producidos en cada taller de acuerdo con una espectativa de demanda mensual; sin embargo un cliente puede hacer pedidos cuando guste.
        </p>
        <div class="row mt-5">
            <div class="col-12  d-flex justify-content-center">
                <button type="button" class="btn btn-secondary">Ver</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-secondary"> Descargar</button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <img src="assets/images/ceo.jpg" class="img-fluid" alt="Responsive image">
    </div>
</div>